{% extends  'support/base.html'%}
{% block title %} О нас {% endblock %}
{% block search %} {% endblock %}
{% block content %}
<div class="about">
    <img class="main-page-image" src="/media/pictures/preview_image.png" alt="preview"/>
    <div class="about-text">
        <h2>PhotoSplitter</h2>
        <p>"PhotoSplitter" — это веб-сервис, позволяющий пользователям загружать фотографии с общественных мероприятий или встреч и делиться ими с участниками этих событий. Пользователи могут отмечать на фотографиях других участников, и каждый участник получает доступ только к тем фотографиям, на которых он изображен. Сервис также предоставляет возможность загрузки всех фотографий одним нажатием.</p>
    </div>
</div>



{% endblock %}