{% extends  'support/base.html'%}
{% block title %} {% endblock %}
{% block search %} {% endblock %}
{% block content %}
    <h1>О нас</h1>
    <p>"PhotoSplitter" - это веб-сервис, позволяющий пользователям загружать фотографии с общественных мероприятий или встреч и делиться ими с участниками этих событий. Пользователи могут отмечать на фотографиях других участников, и каждый участник получает доступ только к тем фотографиям, на которых он изображен. Сервис также предоставляет возможность загрузки всех фотографий одним нажатием.</p>
{% endblock %}