{% extends  'support/base.html'%}
{% block title %} О ивенте{% endblock %}
{% block content %}
<h2>{{ this_event.eventname }}</h2>
<p class="event-description">{{ this_event.description }}</p>
<div class="event-panel-layout">
    <div class="event-info">
        <p>Дата проведения: {{ this_event.eventdate }}</p>
        <p>Организатор ивента: {{ this_event.location }}</p>
    </div>
    <div class="event-likes">
        <form action="{% url 'like_event' event_id=this_event.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Лайк</button>
            </form>
        <p>{{ this_event.likes }}</p>
    </div>
</div>

<div class="event-photos">
    {% for photo in all_photos %}
    <img class="event-photo" src="{{ photo }}" alt="No photo">
    {% endfor %}
</div>

<h3><a href="{% url 'download_all_zip' this_event.id %}">Скачать архив с фото в zip</a></h3>
{% if has_profile_photo == 1 %}
<h3><a href="{% url 'download_my_zip' this_event.id %}">Скачать фото, где есть я</a></h3>
{% endif %}
{% endblock %}
