{% extends  'support/base.html'%}
{% block title %} Главная страница {% endblock %}

{% block content %}
    {% for event in absolute_objects %}
        {% if event.info_event.private_mode == 0 %}
            <p><a href="/detail_events/{{event.info_event.id}}">{{event.info_event.eventname}}</a></p>
        {% else %}
            <p><a href="/confirm_password/{{event.info_event.id}}">{{event.info_event.eventname}}</a></p>
        {% endif %}
        <p>{{ event.info_event.description }}</p>
        <p>{{ event.info_event.location }}</p>
        <p>{{ event.info_event.likes }}</p>
        <img src="{{ event.event_photos }}" alt="No photo" width="350" class="mr-3">
        <hr>
    {% endfor %}
    {% for number in events.paginator.page_range %}
        <li class="page-item"><a href="?meetings={{ query }}&page={{ number }}" class="page-link">{{ number }}</a></li>
    {% endfor %}
{% endblock %}

